<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbhy.modules.system.mapper.RoleMapper">


    <resultMap id="smallDTOMap" type="com.nbhy.modules.system.domain.dto.RoleSmallDTO">
        <id column="role_id" property="id" />
        <result column="level" property="level" />
        <result column="name" property="name" />
    </resultMap>


<!--    <resultMap id="DTOMap" type="com.nbhy.modules.system.domain.dto.RoleDTO">-->
<!--        <id column="role_id" property="id" />-->
<!--        <result column="level" property="level" />-->
<!--        <result column="description" property="description" />-->
<!--        <result column="name" property="name" />-->
<!--        <result column="create_time" property="createTime" />-->
<!--        <collection property="menus" ofType="com.nbhy.modules.system.domain.dto.MenuSmallDTO" column="role_id"-->
<!--                    select="com.nbhy.modules.system.mapper.MenuMapperdMenuSmallDTOByRoleIds">-->
<!--        </collection>-->
<!--    </resultMap>-->

<!--    <sql id="queryCondition">-->
<!--        <where>-->
<!--            -->
<!--        </where>-->
<!--    </sql>-->



    <select id="findRoleSmallByUserId" parameterType="long" resultMap="smallDTOMap">
        SELECT  r.role_id as role_id, r.level as level ,r.name as name
        FROM sys_role r LEFT JOIN sys_users_roles u on r.role_id = u.role_id
        WHERE u.user_id = #{userId}
    </select>

    <select id="findByName" parameterType="string" resultType="long">
        SELECT role_id FROM sys_role WHERE `name` = #{name}
    </select>

    <delete id="deleteAllByIdIn">
        DELETE FROM sys_role WHERE role_id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>


    <select id="findByUserId" resultType="long" parameterType="long">
        SELECT r.role_id FROM sys_role r, sys_users_roles u WHERE
            r.role_id = u.role_id AND u.user_id = #{userId}
    </select>

<!--    <select id="queryAll" resultMap="DTOMap" >-->

<!--    </select>-->

</mapper>